{% extends 'base.html.twig' %}

{% block body %}
    <main class="rda-page">
        <div class="rda-title-bar">
            <h1>Classement Flattrack France</h1>
        </div>
        <div class="rda-content">
            <h2>{% if gender == 'men' %}Équipes mixtes {% else %} Équipes féminines et minoritées de genre{% endif %}</h2>
            {{ include('page/_rank_table.html.twig', {data: data}) }}
        </div>
    </main>
{% endblock %}
