<span class="rda-team-category">{{ teamCategory(team.category) }}</span>
{% if team.level != null %}<span class="rda-team-level">{{ team.level }}</span>{% endif %}
{% if team.type != 'A' %}<span class="rda-team-type">{{ teamType(team.type) }}</span>{% endif %}
