<span class="rda-tag rda-tag-category">{{ teamCategory(team.category) }}</span>
{% if team.level != null %}<span class="rda-tag rda-tag-level">{{ team.level }}</span>{% endif %}
{% if team.type != 'A' %}<span class="rda-tag rda-tag-type">{{ teamType(team.type) }}</span>{% endif %}
