{% extends 'base.html.twig' %}

{% block body %}
    <main class="rda-page">
        <div class="rda-title-bar">
            <h1>{{ team.name }}{% if team.disbandAt != null %} ☠️{% endif %}</h1>
        </div>
        <div class="rda-club-view-content">
            {{ form(form) }}
        </div>
    </main>
{% endblock %}
