{% extends 'base.html.twig' %}

{% block body %}
    <main class="rda-page">
        <div class="rda-title-bar">
            <h1>{{ teamName(team.name, team.pronoun) }}{% if team.disbandAt != null %} ☠️{% endif %}</h1>
        </div>
        <div class="rda-club-view-content rda-content">
            {{ include('team/_info_box.html.twig', {flattrackRank: flattrackRank, team: team}) }}
            <section class="rda-club-view-history">
                <h2>Présentation</h2>
                {{ team.overview }}
            </section>
            <section>
                <h2>Histoire</h2>
                {{ team.history }}
            </section>
        </div>
    </main>
{% endblock %}
