/******** Text fonts ********/
// On change, declare @font-face in app.scss

$title: 'Franklin Gothic Medium', sans-serif;
$default: 'ShareTech Regular', Arial, sans-serif;
$label: Comic Sans MS, sans-serif;
