/************** App **************/
// Entry point of all app css
// Unique entry point is justify by usage of Hotwire Turbo because <head> css changes need full page reload.

@use 'reset';
@use 'header';
@use 'footer';
@use 'url_issues';
@use 'game/view';
@use 'template/infobox';
@use 'template/filters';
@use 'template/edit';
@use 'template/list';
@use 'page/home';
@use 'theme/color_set/a_wiki' as color;
@use 'theme/base';
@use 'theme/screen';
@use 'theme/font';
@use 'theme/border';
@use 'theme/input';
@use 'theme/hover';

/************** Layout **************/

body {
    &.rda-std-body {
        background:
                radial-gradient(#00CC99 1px, transparent 4px),
                radial-gradient(#00CC99 1px, transparent 4px),
                linear-gradient(#312031 4px, transparent 0),
                linear-gradient(45deg, transparent 74px, transparent 75px, #00664D 75px, #00664D 76px, transparent 77px, transparent 109px),
                linear-gradient(-45deg, transparent 75px, transparent 76px, #00664D 76px, #00664D 77px, transparent 78px, transparent 109px),
                #3E283E;
        background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
        background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    }

    color: color.$text-primary;
    display: grid;

    @media (width <= screen.$mobile) {

        body {
            font-size: 14px;
        }
    }
}

/************** Generic Class **************/

.rda-logo-box {
    display: block;
    width: 36px;
    height: 36px;
    border: solid 2px purple;
    background-color: white;

    @media (width <= screen.$mobile) {
        width: 30px;
        height: 30px;
    }

    img {
        display: block;
        margin: 0 auto;
        max-width: 36px;
        max-height: 36px;

        @media (width <= screen.$mobile) {
            max-width: 30px;
            max-height: 30px;
        }
    }
}

.rda-std-body {
    display: grid;

    @media (screen.$normal <= width) {
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas:
            'header header header'
            'asidebefore content asideafter'
            'footer footer footer';
        min-height: 800px;
    }

    @media (screen.$laptop <= width <= screen.$normal) {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
        '.          titlebar'
        '.          toolbar'
        'leftSidebar content';
    }

    @media (screen.$mobile <= width <= screen.$laptop) {
        grid-template-columns: 2fr 3fr;
        grid-template-areas:
        '.          titlebar'
        '.          toolbar'
        'leftSidebar content';
    }

    @media (width <= screen.$mobile) {
        grid-template-columns: 1fr;
        grid-template-areas:
        ' titlebar'
        'toolbar'
        'leftSidebar'
        'content';
    }

    & > header {
        grid-area: header;
    }

    & > footer {
        grid-area: footer;
    }
}

// TODO rem to px
.rda-layout {
    min-width: auto;
    padding-bottom: 20px;
    max-width: 99.75rem;
    margin: 0 auto;
    position: relative;
    justify-content: center;
    box-sizing: border-box;

    @media (screen.$normal <= width) {
        padding-left: 3.25rem;
        padding-right: 3.25rem;
    }

    @media (screen.$laptop <= width <= screen.$normal) {
        padding-left: 2.25rem;
        padding-right: 2.25rem;
    }

    @media (screen.$mobile <= width <= screen.$laptop) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @media (width <= screen.$mobile) {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

.rda-left-side-bar {
    grid-area: leftSidebar;
    margin-right: 10%;
}

.rda-title-bar {
    grid-area: titlebar;
}

.rda-content {
    grid-area: content;
    min-height: 700px;
}

.rda-right-side-bar {
    grid-area: rightSidebar;
    margin-left: 10%;

    @media (screen.$normal <= width) {
        .rda-right-side-bar {
            display: none;
        }
    }
}

.rda-flag {
    max-height: 11px;
    max-width: 18px;
}

.rda-display-none {
    display: none !important;
}

// Tag >>>

.rda-tag {
    margin-left: 2px;
    margin-top: 1px;
    display: block;
    width: max-content;
    font-size: 13px;
    padding: 0 4px;
    border-radius: 25px;
    float: left;
    font-family: font.$label;

    &:first-child {
        margin-left: 0;
    }
}

.rda-tag-category {
    background-color: color.$label-category;
    color: color.$text-primary;
}

.rda-tag-type {
    background-color: color.$label-type;
    color: color.$text-secondary;
}

.rda-tag-level {
    background-color: color.$label-level;
    color: color.$text-secondary;
}

// Tag <<<

/************** TODO **************/

/**** TEST ****/

#drop_zone {
    border: 5px solid blue;
    width: 200px;
    height: 100px;
}

body {
    &:before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        content: "";

        @media (screen.$normal <= width) {
            background-color: green;
        }

        @media (screen.$laptop <= width <= screen.$normal) {
            background-color: yellow;
        }

        @media (screen.$tablet <= width <= screen.$laptop) {
            background-color: orangered;
        }

        @media (screen.$mobile <= width <= screen.$tablet) {
            background-color: darkred;
        }

        @media (width <= screen.$mobile) {
            background-color: black;
        }
    }
}
