@use 'theme' with (
    $text-input-background: #FDECD8,

    $background-primary: #FBD1A2,
    $background-table-row: #FAC689,
    $primary-color-light-hover: #FF9966,
    $primary-color-medium: #FF9966,
    $link-color: #E04B00,
    $secondary-color-light: #7DCFB6,
    $secondary-color-medium: #00b2ca,
    $secondary-color-heavy: #1D4E89,
    $primary-color-light-table-row: #fbd1a2,
);
@use 'main';