#main_header {
    display: grid;
    grid-template-columns: 0.4fr 2fr 3fr 2fr;
    grid-template-areas:
            'menuButton title searchBar .'

}
/* size smartphone */
@media (width <= 600px) {
    #main_header {
        grid-template-columns: 0.4fr 2fr;
        grid-template-areas:
            'menuButton title'
            'searchBar searchBar'
    }
}


#main_menu_button {
    grid-area: menuButton;
    height: 30px;
    width: 30px;
    margin: 5px;
}

#main_header > aside {
    display: none;
}

/* Logo */
#main_header > a {
    grid-area: title;
}
/* size smartphone */
@media (width <= 600px) {
    #main_header > a img {
        max-width: 180px;
        margin-top: 8px;
    }
}


/* Search bar */
#search_bar {
    grid-area: searchBar;
}

/* Options (blank for evol) */
#main_header > div {
}

