/* Remember, i'm not a frontend developer (@atom) */

// One file css is justify by usage of Hotwire Turbo because <head> css changes need full page reload.
@use 'theme';
@use 'reset';
@use 'header';
@use 'footer';
@use 'template/infobox';
@use 'template/filters';
@use 'template/edit';
@use 'template/list';
@use 'widget/search_bar';
@use 'page/home';

/************** Base **************/

body {
    background-color: theme.$color-background-hover-primary;
    color:  theme.$color-text-primary;

    @media (width <= theme.$screen-device-mobile) {
        body {
            font-size: 14px;
        }
    }
}

a {
    color: theme.$color-link;
}

// Titles

h1, h2, h3, h4, h5 {
    font-family: theme.$font-title
}

h1 {
    margin-bottom: 20px;
    border-bottom: theme.$border-primary;
    font-size: 30px;
}

h2 {
    font-size: 21px;
}

// Inputs

input, button, select {
    @include theme.text-input-primary
}

input[type="text"], select, input[type="email"], {
    padding: 0.3em 0.7em;
}

textarea {
    height: 100px;
    width: 100%;
    resize: none;
    display: block;
    @include theme.text-input-primary
}

input[type="number"] {
    padding: 0.3em 0.7em;
}

input:focus  {
    outline: theme.$border-secondary;
}

input[type="checkbox"], input[type="radio"] {
    appearance: none;
    background-color: theme.$color-background-primary;
    margin: 0;
    width: 1em;
    height: 1em;
    border: theme.$border-secondary;
}

input[type="text"], select, input[type="email"], {
    width: 92%;
    max-width: 350px;
}

input[type="number"] {
    width: 92%;
    max-width: 50px;
}

input[type="checkbox"] {
    border-radius: 0.15em;
}

input[type="radio"] {
    border-radius: 1em;
}

.required {
    position: relative;

    &:after {
        content: "*";
        color: theme.$color-link;
        position: absolute;
        top: -4px;
    }
}

input[type="checkbox"]:checked, input[type="radio"]:checked {
    background-color: theme.$color-background-primary;
    border: theme.$color-border-primary solid 2px;
}

input:focus  {
    outline: theme.$border-primary;
}

/************** Generic Class **************/

.rda-logo-box {
    display: block;
    width: 36px;
    height: 36px;

    @media (width <= theme.$screen-device-mobile) {
        width: 30px;
        height: 30px;
    }
}

.rda-logo-box img {
    display: block;
    margin: 0 auto;
    max-width: 36px;
    max-height: 36px;

    @media (width <= theme.$screen-device-mobile) {
        max-width: 30px;
        max-height: 30px;
    }
}

.rda-main{
    display: grid;

    @media (theme.$screen-device-normal <= width) {
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas:
            '.          titlebar .           '
            '.          toolbar   .          '
            'leftSidebar content rightSidebar';
        min-height: 800px;
    }

    @media (theme.$screen-device-laptop <= width <= theme.$screen-device-normal) {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
        '.          titlebar'
        '.          toolbar'
        'leftSidebar content';
    }

    @media (theme.$screen-device-mobile <= width <= theme.$screen-device-laptop) {
        grid-template-columns: 2fr 3fr;
        grid-template-areas:
        '.          titlebar'
        '.          toolbar'
        'leftSidebar content';
    }

    @media (width <= theme.$screen-device-mobile) {
        grid-template-columns: 1fr;
        grid-template-areas:
        ' titlebar'
        'toolbar'
        'leftSidebar'
        'content';
    }
}

// TODO rem to px
.rda-layout {
    min-width: auto;
    background-color: theme.$color-background-primary;
    padding-bottom: 20px;
    max-width: 99.75rem;
    margin: 0 auto;
    position: relative;
    justify-content: center;
    box-sizing: border-box;

    @media (theme.$screen-device-normal <= width) {
        padding-left: 3.25rem;
        padding-right: 3.25rem;
    }

    @media (theme.$screen-device-laptop <= width <= theme.$screen-device-normal) {
        padding-left: 2.25rem;
        padding-right: 2.25rem;
    }

    @media (theme.$screen-device-mobile <= width <= theme.$screen-device-laptop) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @media (width <= theme.$screen-device-mobile) {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

.rda-left-side-bar {
    grid-area: leftSidebar;
    margin-right: 10%;
}

.rda-title-bar {
    grid-area: titlebar;
}

.rda-content {
    grid-area: content;
    min-height: 700px;
}

.rda-right-side-bar {
    grid-area: rightSidebar;
    margin-left: 10%;

    @media (theme.$screen-device-normal <= width) {
        .rda-right-side-bar {
            display: none;
        }
    }
}

.rda-team-category {
    margin-top: 1px;
    display: block;
    background-color: #cfbda0;
    color: theme.$color-text-secondary;
    width: max-content;
    font-size: 13px;
    padding: 0 4px;
    border-radius: 25px;
    float: left;
    font-family: theme.$font-label
}

.rda-team-type {
    margin-left: 2px;
    margin-top: 1px;
    display: block;
    background-color: #B8D6AE;
    color: theme.$color-text-secondary;
    width: max-content;
    font-size: 13px;
    padding: 0 4px;
    border-radius: 25px;
    float: left;
    font-family: theme.$font-label
}

.rda-team-level {
    margin-left: 2px;
    margin-top: 1px;
    display: block;
    background-color: #D996C8;
    color: theme.$color-text-secondary;
    width: max-content;
    font-size: 13px;
    padding: 0 4px;
    border-radius: 25px;
    float: left;
    font-family: theme.$font-label
}

.rda-flag {
    max-height: 11px;
    max-width: 18px;
}

/************** TODO **************/

#game_result {
    width: 60%;
}

#game_result img{
    margin: 0 auto;
    display: block;
}

#game_result p {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

/**** TEST ****/

#drop_zone {
    border: 5px solid blue;
    width: 200px;
    height: 100px;
}
