@use 'theme' with (
    // lighter
    $color-text-input-background: #F2F3F4,
    $color-background-primary: #F2F3F4,
    $color-background-secondary: #F0F8FF,
    // medium
    $color-background-table-row: #B8CFE0,
    $color-background-hover-primary: #8EB3CD,
    $color-background-hover-secondary: #8EB3CD,
    $color-label-category: #CFBDA0,
    $color-label-level: #B8D6AE,
    $color-label-type: #D996C8,
    // darker
    $color-text-primary: #100c08,
    $color-text-secondary: #73C2FB,
    $color-border-primary: #72a0c1,
    $color-border-secondary: #0076b6,
    $color-link: #0076b6,
);
@use 'main';
