@use '.theme' with (
    $background-primary: #FFFFFF,
    $primary-color-light-table-row: #FFFFFF,
    $primary-color-light-hover: #FEF433,
    $primary-color-medium: #FEF433,
    $link-color: #9A59CF,
    $secondary-color-light: #FFFFFF,
    $secondary-color-medium: #9A59CF,
    $secondary-color-heavy: #000000,
);
@use '.main';
