/* Remember, i'm not a frontend developer (@atom) */

// lighter
$color-text-input-background: #FFF0F5 !default;
$color-background-primary: #FFF0F5 !default;
$color-background-secondary: #FFF0F5 !default;

// medium
$color-background-table-row: #FFD6E2 !default;
$color-background-hover-primary: #FFD6E2 !default;
$color-background-hover-secondary: #FFD6E2 !default;
$color-label-category: #CFBDA0 !default;
$color-label-level: #B8D6AE !default;
$color-label-type: #D996C8 !default;

// darker
$color-text-primary: #594157 !default;
$color-text-secondary: #594157 !default;
$color-border-primary: #726DA8 !default;
$color-border-secondary: #594157 !default;
$color-link: #F15156 !default;

/******** Fonts ********/

@font-face {
  font-family: 'Franklin Gothic Medium';
  src: url(fonts/FranklinGothic-Medium.otf) format('opentype')
}

$font-title: 'Franklin Gothic Medium', sans-serif;
$font-default: sans-serif;
$font-label: Comic Sans MS, sans-serif;

/******** Responsive ********/

$screen-device-mobile: 600px;
$screen-device-tablet: 768px;
$screen-device-laptop: 992px;
$screen-device-normal: 1600px;

/************** Var and mixins **************/

@mixin pointer-hover-primary() {
  background-color: $color-background-hover-primary;
  color: $color-text-primary;
  cursor: pointer;
}

@mixin pointer-hover-secondary() {
  background-color: $color-background-hover-secondary;
  color: $color-text-secondary;
  cursor: pointer;
}

@mixin text-input-primary() {
  background-color: $color-text-input-background;
  color: $color-text-primary;
  border: $color-border-primary;
}

@mixin text-input-secondary() {
  background-color: $color-text-input-background;
  color: $color-text-secondary;
  border: $color-border-secondary;
}

$border-primary: $color-border-primary solid 1px;
$border-secondary: $color-border-secondary solid 1px;
