@use '../theme/color_set/a_wiki' as color;
@use '../theme/hover';
@use '../theme/border';

.rda-edit-menu {
    li {
        margin-left: 2px;
    }
}

.rda-edit-section {
    li {
        padding-top: 5px;
        padding-bottom: 5px;

        &:first-child {
            margin-top: 10px;
            padding-top: 0;
        }

        &:nth-child(odd) {
            background-color: color.$background-table-row;
        }

        label {
            display: inline-block;
            min-width: 160px;
        }
    }
}

#club_teams {
    input {
        display: none;
    }

    label {
        display: block;
        padding: 1em;
        margin: 10px 0;
        width: 80%;
        cursor: pointer;
        border: border.$primary;

        &:hover {
            @include hover.pointer-hover-primary;

            &:after {
                content: "X";
                float: right;
                background-color: red; // TODO
                border-radius: 15px;
                padding: 3px 7px;
                color: white; // TODO
                font-weight: bold;
            }
        }
    }
}
