/************** Filters **************/

@use '../theme/color_set/a_wiki' as color;
@use '../theme/border';
@use '../theme/hover';

.rda-filters {
    fieldset {
        border-style: none;
        padding: 0;
    }

    legend {
        display: block;
        width: 100%;
        height: 20px;
        margin-bottom: 5px;
        margin-top: 15px;
        font-weight: bold;
        border-bottom: border.$primary;
    }

    fieldset:first-child legend {
        margin-top: 0;
    }

    .rda-apply-input {
        margin-right: 4%;
        width: 45%;
    }

    .rda-reset-input {
        width: 45%;
    }
}
