/************** List **************/

@use '../theme/color_set/a_wiki' as color;
@use '../theme/screen';
@use '../theme/border';
@use '../theme/hover';

@media (min-width: screen.$laptop) {
    .rda-list-wrapper {
        column-count: 2;
    }
}

.rda-void-list {
    visibility: hidden;

    li {
        height: 46px;
    }
}

.rda-list-wrapper > li {
    border: solid 2px color.$background-highlight;
    background-color: color.$background-primary;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 3px, #3E283E7F 3px, #3E283E7F 6px);
    margin-bottom: 20px;

    li {
        &:first-child {
            color: color.$background-highlight;
            background: color.$background-primary;
            background:  linear-gradient(0deg, #60435F 0%, #3E283E 100%);
            border-bottom: solid 2px color.$background-highlight;
            margin-bottom: 5px;

            h2 {
                font-family: "ShareTech Regular", Arial, sans-serif;
                font-size: 23px;
                text-align: center;
                display: block;
                height: 26px;
                margin-bottom: 5px;
                padding-top: 8px;
                padding-bottom: 3px;
            }
        }
    }
}

.rda-list li {
    padding: 0 5px;
    min-width: 400px;

    a {
        margin-bottom: 5px;
        display: flex;
        background-color: #C2FFF019;

        p:first-child {
            font-weight: bold;
            margin: 0;

            span {
                line-height: 10px;
            }
        }

        p:last-child {
            margin: 3px 0 0 0;
            font-size: 13px;
        }

        &:hover {
            background-color: #00FFBF4D;
        }
    }

    div:first-child {
        flex: 1;
        padding: 1px;
    }

    div {
        display: block;
        flex: 10;
        padding: 5px;
    }
}
