/************** List **************/

@use '../theme/color_set/a_wiki' as color;
@use '../theme/screen';
@use '../theme/border';
@use '../theme/hover';

@media (min-width: screen.$laptop) {
    .rda-list-wrapper {
        column-count: 2;
    }
}

.rda-list {
    a {
        margin-bottom: 5px;
        display: flex;
        border-radius: 3px 10px 3px 10px;
        border: border.$primary;

        p:first-child {
            font-weight: bold;
            margin: 0;

            span {
                line-height: 10px;
            }
        }

        p:last-child {
            margin: 3px 0 0 0;
            font-size: 13px;
            color: color.$text-secondary;
        }

        &:hover {
            @include hover.pointer-hover-primary;
        }
    }

    div:first-child {
        flex: 1;
    }

    div {
        display: block;
        padding: 5px;
        flex: 10;
    }

    h2 {
        text-align: center;
        background: color.$background-secondary;
        background: linear-gradient(0deg, transparent, color.$background-secondary, transparent);
        display: block;
        height: 38px;
        margin-bottom: 5px;
        padding-top: 8px;
        padding-bottom: 3px;
        border-radius: 15px;
    }
}
