/**** Bar ****/

#search_bar search {
    position: relative; /* Root for result box */
    border: #918989 solid 1px;
    width: 500px;
    margin: 10px auto;
}

/**** Text input ****/

#search_bar_text_input {
    width: 400px;
    height: 30px;
    padding: 0 5px;
    border: none;
    /* Active Z index for better browser focus render */
    position: relative;
    z-index: 200;
}

/**** Submit button ****/

#search_bar_submit {
    z-index: 200;
    height: 30px;
    position: relative;
    background-color: #ffffff;
    margin: 0;
    font-size: 16px;
    border: none;
    border-left: #918989 solid 1px;
    padding: 0 5px;
}

#search_bar_submit:hover {
    cursor: pointer;
    background-color: #f9f9f9;
}

/**** Résults ****/

#search_bar ul {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 100;
    box-shadow: 0 0 6px #c5bcbc;
}

#search_bar li {
    width: 400px;
}

#search_bar a {
    display: block;
    padding: 8px 5px;
}

#search_bar li a:hover {
    background-color: #e0e0e0;
}

#search_bar li:nth-child(even) {
    background-color: #f9f9f9;
}
#search_bar li:nth-child(odd) {
    background-color: #ffffff;
}

