<h2>Base de donnée</h2>
<ul>
    {% if disable != 'clubs' %}<li><a class="rda-wiki-link" href="{{ path(constant('App\\Action\\Club\\ListAction::ROUTE_NAME')) }}">Les associations</a></li>{% endif %}
    {% if disable != 'teams' %}<li><a class="rda-wiki-link" href="{{ path(constant('App\\Action\\Team\\ListAction::ROUTE_NAME')) }}">Les équipes</a></li>{% endif %}
</ul>
<h2>Aides & contribution</h2>
<ul>
    <li>Le guide du nouveau club</li>
</ul>
<h2>Des stats et des graphs</h2>
<ul>
    {% if disable != 'flatrack_rank_women' %}<li><a class="rda-wiki-link" href="{{ path(constant('App\\Action\\FlattrackFrenchRankingAction::ROUTE_NAME'), {gender: 'women'}) }}">Classement Flattrack France F+</a></li>{% endif %}
    {% if disable != 'flatrack_rank_men' %}<li><a class="rda-wiki-link" href="{{ path(constant('App\\Action\\FlattrackFrenchRankingAction::ROUTE_NAME'), {gender: 'men'}) }}">Classement Flattrack France Mixte</a></li>{% endif %}
</ul>
