{% extends 'base.html.twig' %}

{% block body %}
    <main class="rda-page">
        <div class="rda-title-bar">
            <h1>Nos Archives</h1>
        </div>
        <div class="rda-content">
            <h2>Base de donnée</h2>
            <ul>
                <li><a href="{{ path('club_list') }}">Les associations</a></li>
                <li><a href="{{ path('team_list') }}">Les équipes</a></li>
            </ul>
            <h2>Divers</h2>
            <ul>
                <li><a href="{{ path('flattrack_french_ranking_women_and_more') }}">Classement Flattrack France F+</a></li>
                <li><a href="{{ path('flattrack_french_ranking_mix') }}">Classement Flattrack France Mixte</a></li>
            </ul>
        </div>
    </main>
{% endblock %}
