{% extends 'base.html.twig' %}

{% block body %}
    <main id="test" class="rda-page rda-layout rda-grid">
        <div class="rda-title-bar">
            <h1>Test</h1>
        </div>
        <div class="rda-content">
            {{ form(form) }}
        </div>
    </main>
{% endblock %}
