{% extends 'base.html.twig' %}

{% block body %}
    <main id="test" class="rda-page rda-layout rda-grid">
        <div class="rda-title-bar">
            <h1>Test</h1>
        </div>
        <div class="rda-content">
            <img src="{{ vich_uploader_asset(team) | imagine_filter('logo_thumbnail') }}" alt="Fail">
        </div>
    </main>
{% endblock %}
