<div id="club_list_filter">
    <form>
        <fieldset>
            <legend>Activité:</legend>

            <div>
                <input type="radio" id="list_filter_activity_on" name="activity" value="on" />
                <label for="list_filter_activity_on">Active seulement</label>
            </div>

            <div>
                <input type="radio" id="list_filter_activity_off" name="activity" value="off" />
                <label for="list_filter_activity_off">Disoutes</label>
            </div>

            <div>
                <input type="radio" id="list_filter_activity_all" name="activity" value="all" />
                <label for="list_filter_activity_all">Toutes</label>
            </div>
        </fieldset>
    </form>
</div>
