{% extends 'body.html.twig' %}
{% set pageId = 'club_edit' %}

{% block titleBar %}
    <h1>{{ club.name }}{% if club.closedAt != null %} ☠️{% endif %}</h1>
{% endblock %}

{% block content %}
    {{ include('club/_form.html.twig', {form: form}) }}
{% endblock %}

{% block rightSideBar %}
    {{ include('template/_menu_side_bar.html.twig') }}
{% endblock %}
