{% extends 'content.html.twig' %}
{% set mainId = 'page_flattrack_ranking' %}

{% block titleBar %}
    <h1>Classement Flattrack France</h1>
{% endblock %}

{% block content %}
    <h2>{% if gender.value == 'men' %}Équipes mixtes {% else %} Équipes féminines et minoritées de genre{% endif %}</h2>
    {{ include('flattrack/_rank_table.html.twig', {frenchRanking: frenchRanking}) }}
{% endblock %}

{% block rightSideBar %}
    {{ include('template/_menu_side_bar.html.twig', {disable: 'flatrack_rank_'~gender.value}) }}
{% endblock %}
