<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RDA - Integration</title>
        <link rel="icon" href="{{ asset('images/favicon.png') }}">
        <link rel="stylesheet" href="{{ asset('styles/integration_sheet.scss') }}">
    </head>
    <body>
        <table id="integration">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Render</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Background 1</td>
                    <td><div id="integration_background_1"></div></td>
                </tr>
                <tr>
                    <td>Background 2</td>
                    <td><div id="integration_background_2"></div></td>
                </tr>
                <tr>
                    <td>Background 3</td>
                    <td><div id="integration_background_3"></div></td>
                </tr>
                <tr>
                    <td>Text</td>
                    <td><p id="integration_text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p></td>
                </tr>
                <tr>
                    <td>Link</td>
                    <td><a href="" id="integration_link"></a>A link</td>
                </tr>
                <tr>
                    <td>Border</td>
                    <td><div id="integration_border"><span class="integration-space-filler"></span></div></td>
                </tr>
                <tr>
                    <td>Button</td>
                    <td>
                        <button id="integration_button">Button</button>
                    </td>
                </tr>
                <tr>
                    <td>Text Input</td>
                    <td><input type="text" id="integration_text_input" placeholder="Enter text"></td>
                </tr>
                <tr>
                    <td>Text Area</td>
                    <td><textarea id="integration_text_area" rows="4" cols="50" placeholder="Enter your text here"></textarea></td>
                </tr>
                <tr>
                    <td>Select</td>
                    <td>
                        <select id="integration_select">
                            <option value="option1">Option 1</option>
                            <option value="option2">Option 2</option>
                            <option value="option3">Option 3</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Radio</td>
                    <td>
                        <label><input type="radio" name="integration_radio" value="radio1"> Radio 1</label>
                        <label><input type="radio" name="integration_radio" value="radio2"> Radio 2</label>
                    </td>
                </tr>
                <tr>
                    <td>Check box</td>
                    <td>
                        <label><input type="checkbox" id="integration_checkbox_1"> Checkbox 1</label>
                        <label><input type="checkbox" id="integration_checkbox_2"> Checkbox 2</label>
                    </td>
                </tr>
                <tr>
                    <td>Submit</td>
                    <td><input type="submit" id="integration_submit" value="Submit"></td>
                </tr>
                <tr>
                    <td>Reset</td>
                    <td><input type="reset" id="integration_reset"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="email" id="integration_email"></td>
                </tr>
                <tr>
                    <td>H1</td>
                    <td><h1 id="integration_h1">Titre H1</h1></td>
                </tr>
                <tr>
                    <td>H2</td>
                    <td><h2 id="integration_h2">Titre H2</h2></td>
                </tr>
                <tr>
                    <td>H3</td>
                    <td><h3 id="integration_h3">Titre H3</h3></td>
                </tr>
                <tr>
                    <td>H4</td>
                    <td><h4 id="integration_h4">Titre H4</h4></td>
                </tr>
                <tr>
                    <td>Button link 1</td>
                    <td><a href="#" id="integration_button_link_1">Button Link</a></td>
                </tr>
                <tr>
                    <td>Entity list</td>
                    <td>
                        <ul id="integration_entity_list">
                            <li>Entity 1</li>
                            <li>Entity 2</li>
                            <li>Entity 3</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Table</td>
                    <td>
                        <table id="integration_table">
                            <thead>
                                <tr>
                                    <th>Header 1</th>
                                    <th>Header 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cell 1.1</td>
                                    <td>Cell 1.2</td>
                                </tr>
                                <tr>
                                    <td>Cell 2.1</td>
                                    <td>Cell 2.2</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
