<search>
        <form action="/widget/search">
                <label for="search_bar"></label>
                <input type="search" id="search_bar" name="needle" />
                <button type="submit">Search</button>
                <turbo-frame id="search_results" src="/widget/search">
                        {% if results is defined %}{% else %}{% set results = null %}{% endif %}
                        {% if results != null %}
                                <ul>
                                        {% for result in results %}
                                                <li>{{ result.value }}</li>
                                        {% endfor %}
                                </ul>
                        {% endif %}
                </turbo-frame>
        </form>
</search>
