/************** Main **************/

#main .rda-content h2 {
    margin-bottom: 30px;
}

#main .rda-content ul {
    display: flex;
    flex-wrap: wrap;
}

#main .rda-content li {
    margin: 0 3% 3% 0;
    width: 31%;
}

#main .rda-content li:nth-child(3), #main .rda-content li:nth-child(6), #main .rda-content li:nth-child(9) {
    margin-right: 0;
}

#main .rda-content li a {
    padding: 29px;
    border: gray solid 1px;
    border-radius: 10px;
    display: block;
    text-align: center;
    font-weight: bold;
}

#main .rda-content li p {
    padding: 16px;
    border-radius: 10px;
    display: block;
    text-align: center;
}

#main .rda-content li span {
    font-weight: bold;
}

#main .rda-content li a:hover {
    background: #e4ecf3;
}
